@keyframes topIn {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bottomIn {
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes leftIn {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes rightIn {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1.1);
        opacity: 1;
    }
}
@keyframes typing {
    from{
        width: 0ch;
    }
}